.planning-calendar {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-color: white;
  border-width: 1px;
  border-style: solid
}

.planning-calendar thead {
  border: white solid 1px;
}

.planning-calendar th {
  color: white;
  background: #4b0095;
}

.planning-calendar td {
  border-color: white;
  border-width: thin;
  border-style: dotted;
  vertical-align: top;
}

.planning-calendar button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-style: dashed;
  border-width: 1.5px;
  min-height: 30px;
}