@font-face {
  font-family: "Kalam";
  src:
    local("Kalam"),
    url("fonts/Kalam/Kalam-Regular.ttf") format("TrueType");
}

@font-face {
  font-family: "Quattrocento";
  src:
    local("Quattrocento"),
    url("fonts/Quattrocento/Quattrocento-Regular.ttf") format("TrueType");
}

.antony-writing {
  font-family: Kalam;
}

.cleopatra-writing {
  font-family: Kalam;
}

.roman {
  font-family: Quattrocento;
}

.antony-response {
  color: lightcoral;
}

.cleopatra-response {
  color: goldenrod;
}