body {
  color: #ebd5b3;
  background-color: #13011f;
}

#options {
  position: relative;
  width: 100%;
}

#options button {
  width: 100%;
  background-color: #0A3161;
  color: #FFFFFF;
  border-color: #B31942;
  border-radius: 10px;
}

#options button:disabled {
  filter: grayscale(.8)
}

.div-container {
  position: relative;
  width: 100%;
}

.div-container button {
  width: 100%;
}

.remnant-selected {
  color: purple;
}

.irp-rec-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.irp-rec-div button {
  width: 100%;
}

/* ########## Main Screen ########## */
.game-title {
  text-align: center;
}

/* ########## Footer ########## */
.room-footer {
  width: 100%;
  max-width: 54em;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
}

/* ########## Seals ########## */
.antony-seal {
  width: 24px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  border-style: solid;
  color: red;
  border-color: red;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  right: 31.2px;
  margin: -30.8px 2.4px 2.4px 2.4px;
}

.antony-mark {
  border-style: solid;
  color: red;
  border-color: red;
  background-color: yellow;
  border-radius: 50%;
}

.cleopatra-seal {
  width: 24px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  border-style: solid;
  color: purple;
  border-color: purple;
  background-color: gold;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  margin: -30.8px 2.4px 2.4px 2.4px;
}

.cleopatra-mark {
  border-style: solid;
  color: purple;
  border-color: purple;
  background-color: gold;
  border-radius: 50%;
}